body {
    height: 100vh;
    width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: TT Lakes;
    font-size: 16px;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
ul{
    list-style: none;
}
button{
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.left-sidebar {
    width: 320px;
    margin-right: auto;
    height: 100%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.container {
    width: 272px;
    height: 100%;
    padding-top: 18px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.left-sidebar__container{
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
}
.ui-button {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    display: block;
}
a{
    text-decoration: none;
}
a:hover {
    filter: opacity(75%);
}

.ui-button--back {
    background: url('../img/ic/burger.svg') no-repeat;
}

.ui-button--search {
    background: url("../img/ic/search.svg") no-repeat;
}

.header__logo{
    margin-right: auto;
    margin-left: 16px;
}
.menu {
    width: 100%;
}
.container__menu{
    margin-top: 24px;
}
.menu__item {
    margin: 12px 0px;
}
    
.menu__item a::before {
    content: " ";
    display: inline-block;
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    position: relative;
    left: -24px;
    opacity: 0;
    transition: 0.5s;

}

.menu__item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1B1C21;
    vertical-align: middle;
    height: 32px;
}

.menu__item a:hover::before {
    opacity: 1;
}

.menu__item a:hover {
    color: #7E7E82;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.nav__item {
    margin-right: 16px;
}

.container__footer {
    margin-top: auto;
}

.ui-button--search {
    background: url("../img/ic/chat%20copy.svg") no-repeat;
}

.ui-button--message {
    background: url(../img/ic/chat.svg) no-repeat;

}

.ui-button--profile {
    background: url("../img/ic/profile.svg") no-repeat;
}

.email {
    color: #1B1C21;
    display: block;
}
.footer__email{
    margin-top: 16px;
}
.number {
    font-size: 24px;
    font-weight: bold;
    color: #1B1C21;
    display: block;
}
.footer__number{
    margin-top: 12px;
    margin-bottom: 40px;
}
.language{
    display: flex;
}
.language__item{
    margin-right: 7px;
}
.language__item-button {
    color: #1B1C21;
}

.language__item-button:active,.language__item-button:focus {
    color: #7E7E82;
    outline: none;
}
